.my-navbar {
    height: 50px;
    background-color: var(--primary);
    padding: 15px 20px;
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 25px;
    color: white !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.my-navbar-icon {
    display: flex;
    min-width: 40px;
    margin-right: 20px;
    height: 40px;
    background: var(--background);
    background: linear-gradient(to right, var(--secondary) 50%, var(--background) 50%) right;
    background-size: 200%;
    transition: all ease-in-out .4s;
}

.my-navbar-icon:hover {
    background-position: left;
}

.my-nav-container {
    display: flex;
    height: 30px;
}

.my-navright-container {
    margin-left: auto;
    margin-right: 0;
}

.my-navelement {
    margin: 0 10px;
    text-align: center;
}

.my-navlink {
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, var(--secondary), var(--secondary) 50%, white 50%);
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all ease-in-out .4s;
}

.my-navlink:hover {
    background-position: 0 100%;
}

.u-line-anim:after {
    transition: all ease-in-out .4s;
    margin-top: 2px;
    background: none repeat scroll 0 0 var(--secondary);
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.u-line-anim:hover:after {
    width: 100%;
}

.my-navlink.active:after {
    width: 100% !important;
}

.nav-right {
    text-align: right;
}