.my-navbar {
    height: 50px;
    background-color: black;
    padding: 15px 20px;
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 20px;
    color: var(--off-white) !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.my-navbar-icon {
    display: flex;
    min-width: 40px;
    margin-right: 20px;
    height: 40px;
    background-color: var(--off-white);
}

.my-nav-container {
    display: flex;
    height: 30px;
}

.my-navright-container {
    margin-left: auto;
    margin-right: 0;
}

.my-navelement {
    margin: 0 10px;
    text-align: center;
}

.my-navlink:after {
    transition: all ease-in-out .2s;
    margin-top: 2px;
    background: none repeat scroll 0 0 var(--off-white);
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.my-navlink:hover:after {
    width: 100%;
}

.my-navlink.active:after {
    width: 100% !important;
}

.nav-right {
    text-align: right;
}