@font-face {
  font-family: 'BB';
  src: url('fonts/BB.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BB';
  src: url('fonts/BB_bld.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'BB';
  src: url('fonts/BB_ital.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'BB';
  src: url('fonts/BB_bldital.ttf');
  font-weight: bold;
  font-style: italic;
}

:root {
  --off-white: rgb(235, 235, 235);
  --dark-gray: rgb(80, 80, 80)
}